{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Film Entry {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title"
               placeholder="Film title" class="form-control"
               value="{{ request.form['title'] }}"></input>
               <!-- request.form['title']  -->
    </div>

    <div class="form-group">
        <label for="yearReleased">Year</label>
        <input name="yearReleased" placeholder="year"
                  class="form-control"
                  value="{{ request.form['yearReleased'] }}"></input>
                  <!-- request.form['yearReleased' -->
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <input name="rating" placeholder="Rating"
                type="text" class="form-control"
                value="{{ request.form['rating'] }}" ></input>
                <!-- request.form['rating'] -->
    </div>

    <div class="form-group">
        <label for="duration">Duration</label>
        <input name="duration" placeholder="duration"
                class="form-control"
                value="{{ request.form['duration'] }}"></input>
                <!-- request.form['duration'] -->
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <input name="genre" placeholder="genre"
                type="text" class="form-control"
                value="{{ request.form['genre'] }}"></input>
                <!-- request.form['genre'] -->
    </div>
  
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}